@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body {

    font-family: "Montserrat", sans-serif !important;
    background: linear-gradient(320deg, 
    rgba(151,70,137,1), 
    rgba(255,89,80,1), 
    rgba(255,159,75,1), 
    rgba(253,224,76,1), 
    rgba(119,206,75,1), 
    rgba(0,158,236,1));
    /*background-repeat: no-repeat;*/
    height: 100vh;
    font-size: 20px;

}


